---
import ExperienceCard from "../ui/ExperienceCard.astro";
import { getAllExperienceCards } from "../../lib/cosmic";

const experiences = await getAllExperienceCards();
---

<section class="content-section">
	<h2 id="experience" class="page-h2">Experience</h2>
	<p class="section-desc">
		<strong>My professional journey and key achievements</strong>
	</p>
	<div class="card-grid">
		{
			experiences.map((exp) => (
				<ExperienceCard
					title={exp.title}
					description={exp.metadata.description}
					thumbnail={exp.metadata.thumbnail?.url || ""}
					slug={exp.slug}
					date={exp.metadata.date}
				/>
			))
		}
	</div>
</section>
