---
import ExperienceCard from "../ui/ExperienceCard.astro";
import { getAllExperienceCards } from "../../lib/cosmic";

const experiences = await getAllExperienceCards();
---

<section class="content-section">
	<h2 id="experience" class="page-h2">Experience</h2>
	<p class="section-desc">
		<strong>My professional journey and key achievements</strong>
	</p>
	<div class="card-grid">
		{
			experiences.map((exp) => (
				<ExperienceCard
					title={exp.title}
					description={exp.metadata.description}
					thumbnail={exp.metadata.thumbnail?.url || ""}
					slug={exp.slug}
					date={exp.metadata.date}
				/>
			))
		}
	</div>
</section>

<style>
	.content-section {
		padding: clamp(2rem, 5vw, 4rem) 0;
	}

	.page-h2 {
		font-size: var(--font-large);
		font-family: var(--font-heading);
		margin: 0.5rem 0;
		text-decoration: underline;
		color: var(--text-color);
		text-align: center;
	}

	.section-desc {
		font-size: clamp(1.1rem, 2vw, 1.5rem);
		margin: 1rem 0 2rem;
		text-align: center;
		color: var(--text-color);
	}

	.card-grid {
		max-width: 75%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 1024px) {
		.card-grid {
			justify-content: center;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1rem;
			padding: 0 0 2rem;
		}
	}

	@media screen and (max-width: 768px) {
		.card-grid {
			justify-content: center;
			align-items: center;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 1rem;
			padding: 0 0 2rem;
		}
	}
</style>
