---
import ProjectCard from "../ui/ProjectCard.astro";
import { getAllProjectCards } from "../../lib/cosmic";

const allProjects = (await getAllProjectCards()) || [];
---

<section class="content-section">
	<h2 id="projects" class="page-h2">Projects</h2>
	<p class="section-desc">
		<strong>A Showcase of Innovation in Action</strong>
	</p>

	<div class="card-grid">
		{
			allProjects.map((card) => (
				<ProjectCard
					title={card.title}
					intro={card.metadata.description}
					thumbnail={card.metadata.thumbnail?.url || ""}
					url={card.slug}
				/>
			))
		}
	</div>
</section>
