<section class="contentSection">
	<h2 id="about">About</h2>
	<div id="aboutWrapper">
		<p id="aboutDesc">
			<strong>Hi, I'm Jeffrey Luu!</strong>
			I'm currently a 3rd year student studying Human Computer Interaction with a minor
			in Computer Science at UCSD, set to graduate in June 2023.
			<br />
			<br />
			Ever since I was young, I immersed myself into the world of technology, constantly
			tinkering with my computer and learning new things. I also found joy in volunteering
			spending 5 years at the same food bank helping every weekend.
			<br />
			<br />
			Now, I'm working towards bridging the intersection between technology and human
			interaction, making more functional and accessible web and mobile interfaces
			for everyone.
		</p>
		<picture>
			<source srcset="../images/Placeholder.png" media="(min-width: 480px)">
			<img src="../images/Placeholder.png" alt="Jeffrey Luu">
		</picture>
		<picture>
			<source srcset="../images/Placeholder.png" media="(min-width: 480px)">
			<img src="../images/Placeholder.png" alt="Jeffrey Luu">
		</picture>
		<picture>
			<source srcset="../images/Placeholder.png" media="(min-width: 480px)">
			<img src="../images/Placeholder.png" alt="Jeffrey Luu">
		</picture>
	</div>

</section>

<style>
	#aboutWrapper {
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 50%;
	}

	#aboutDesc {
		text-indent: 2rem;
		margin-left: 1rem;
		font-size: var(--medium2-size);
		text-align: left;
		color: var(--font-color);
	}

	@media screen and (max-width: 480px) {
		#aboutDesc {
			font-size: var(--medium1-size)
		}
	}
</style>


<section class="contentSection">
	<h2 id="education">Education</h2>
	<div id="educationDesc">
		<!-- Add a graduation date to the right of the h3 tag -->
		<div id="topLine">
			<h3 id="universityTitle">University of California, San Diego</h3>
			<p id="gradDate">June 2023</p>
		</div>
		<p id="degree"> B.S. in Human Computer Interaction</p>
		<p id="minor"> Minor in Computer Science </p>
		<p id="gpa"> GPA: 3.5 </p>
		<p id="descTitle"> Relevant Coursework: </p>
		<div id="coursework">
			<ul class="classList">
				<li>CSE 100 Advanced Data Structures</li>
				<li>CSE 101 Design and Analysis of Algorithms</li>
				<li>COGS 108 Data Science in Practice</li>
				<li>CSE 110 Software Engineering</li>
				<li>CSE 120 Principles of Computer Operating Systems</li>
				<li>CSE 134b Web Client Languages</li>
				<li>CSE 135 Web Server Technologies</li>
				<li>CSE 167 Computer Graphics</li>
				<li>CSE 170 Interaction Design</li>
				<li>CSE 191 Think Small and Win Big in Business</li>
			</ul>
		</div>
		<p id="advertLink"> For a complete list of classes I took at UCSD, check my blog out
			<a href="./blog">here</a>!
		</p>
	</div>
</section>

<style>
	#education {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#educationDesc {
		text-indent: 2rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: left;
		color: var(--font-color);
	}

	#topLine {
		display: flex;
		flex-direction: row;
	}
	#topLine p {
		margin-left: auto;
		margin-right: 1rem;
		font-size: var(--medium2-size);
	}

	#universityTitle {
		font-size: var(--medium3-size);
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
	}

	#degree {
		font-size: var(--medium2-size);
		margin: 0;
	}

	#minor {
		font-size: var(--medium2-size);
		margin: 0 0 1rem;
		padding-top: 0;
	}

	#gpa {
		font-size: var(--medium2-size);
		margin: 0 0 1rem;
		padding-top: 0;
	}

	#descTitle {
		font-size: var(--medium2-size);
		margin: 0;
		padding: 0;
	}

	#coursework {
		display: flex;
		flex-direction: row;
	}

	.classList {
		list-style-position: inside;
	}

	.classList li {
		margin-bottom: 5px;
	}

	#advertLink {
		font-size: var(--medium2-size);
		margin: 0;
		padding: 0;
	}
</style>
