<section class="content-section">
	<h2 id="about" class="page-h2">About Me</h2>
	<div id="flex-container">
		<div id="about-wrapper">
			<p id="about-desc">
				<strong>Hi, I'm Jeffrey Luu!</strong>
				I'm currently doing my M.S. in computer science at California State University
				Long Beach. I completed my undergrad in Human Computer Interaction at University
				of California - San Diego.
				<br />
				<br />
				Since childhood, my passion for technology has driven me to explore and expand
				my knowledge, constantly tinkering with computers. Alongside my technical
				endeavors, I have also found fulfillment in volunteering, dedicating five
				years of my weekends to a food bank, assisting those in need.
				<br />
				<br />
				Now, my focus is on merging technology and human interaction. I am committed
				to creating functional, accessible web and mobile interfaces that elevate
				the user experience. By utilizing technology as a tool, I aim to bridge gaps
				and facilitate seamless interactions for people from all walks of life.
			</p>
		</div>
		<div id="figma-wrapper">
			<figure>
				<iframe
					id="youtube-redesign"
					title="High-Fidelity Prototypes created in Figma of a Youtube Redesign"
					src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVTeXS7CWmqioKpqEBvy4DQ%2FCogs-187A-Hi-Fidelity-prototypes%3Ftype%3Ddesign%26node-id%3D22-997%26scaling%3Dscale-down%26page-id%3D7%253A233%26starting-point-node-id%3D22%253A997"
					allowfullscreen></iframe>
				<figcaption id="figma-caption">
					<strong>YouTube Live Redesign for Mobile</strong>
					<a
						href="https://drive.google.com/file/d/1scRqM_Ie2mubrcM7FFgd1J2pSjgBCiVI/view?usp=sharing"
						target="_blank"
						rel="noreferrer">Complete Write-up Here</a
					>
				</figcaption>
			</figure>
		</div>
	</div>
</section>

<style>
	.page-h2 {
		font-size: var(--font-large);
		font-family: var(--font-heading);
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-left: 1rem;
		text-decoration: underline;
		color: var(--text-color);
	}

	@media screen and (max-width: 768px) {
		.page-h2 {
			font-size: var(--font-medium);
		}
	}

	#flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#about-wrapper,
	#figma-wrapper {
		flex: 0 0 50%;
		box-sizing: border-box;
		padding: 10px;
	}

	#figma-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#about-desc {
		text-indent: 2rem;
		margin-left: 1rem;
		font-size: var(--font-large);
		text-align: left;
		color: var(--text-color);
	}

	#youtube-redesign {
		border: 1px solid rgba(0, 0, 0, 0.1);
		width: 650px;
		height: 450px;
	}

	#figma-caption {
		text-align: center;
		font-size: var(--font-large);
		color: var(--text-color);
	}
</style>

<section class="content-section">
	<h2 id="education" class="page-h2">Education</h2>
	<!-- <div class="education-desc">
		<div class="top-line">
			<h3 class="university-title">University of California, San Diego</h3>
			<p class="grad-date">June 2023</p>
		</div>
		<p class="degree">B.S. in Human Computer Interaction</p>
		<p class="minor">Minor in Computer Science</p>
		<p class="gpa">GPA: 3.52</p>
		<p class="desc-title">Relevant Coursework:</p>
		<div class="coursework">
			<ul class="class-list">
				<li>COGS 108 Data Science in Practice</li>
				<li>COGS 123 Social Computing</li>
				<li>COGS 187a Usability & Information Architecture</li>
				<li>CSE 101 Design and Analysis of Algorithms</li>
				<li>CSE 110 Software Engineering</li>
				<li>CSE 120 Principles of Computer Operating Systems</li>
				<li>CSE 134b Web Client Languages</li>
				<li>CSE 135 Online Database Analytics</li>
				<li>CSE 167 Computer Graphics</li>
				<li>CSE 170 Interaction Design</li>
			</ul>
		</div>
		<p class="advert-link">
			For a complete list of classes I took at UCSD, check my blog out
			<a href="/blog">here</a>!
		</p>
	</div> -->
	<div class="education-desc">
		<div class="top-line">
			<h3 class="university-title">University of California, San Diego</h3>
			<p class="grad-date">June 2023</p>
		</div>
		<p class="degree">B.S. in Human Computer Interaction</p>
		<p class="minor">Minor in Computer Science</p>
		<p class="gpa">GPA: 3.52</p>
		<p class="desc-title">Relevant Coursework:</p>
		<div class="coursework">
			<ul class="class-list">
				<li>COGS 108 Data Science in Practice</li>
				<li>COGS 123 Social Computing</li>
				<li>COGS 187a Usability & Information Architecture</li>
				<li>CSE 101 Design and Analysis of Algorithms</li>
				<li>CSE 110 Software Engineering</li>
				<li>CSE 120 Principles of Computer Operating Systems</li>
				<li>CSE 134b Web Client Languages</li>
				<li>CSE 135 Online Database Analytics</li>
				<li>CSE 167 Computer Graphics</li>
				<li>CSE 170 Interaction Design</li>
			</ul>
		</div>
		<p class="advert-link">
			For a complete list of classes I took at UCSD, check my blog out
			<a href="/blog">here</a>!
		</p>
	</div>
</section>

<style>
	#education {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.education-desc {
		text-indent: 2rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: left;
		color: var(--text-color);
	}

	.top-line {
		display: flex;
		flex-direction: row;
	}
	.top-line p {
		margin-left: auto;
		margin-right: 1rem;
		font-size: var(--font-large);
	}

	.university-title {
		font-size: var(--font-xlarge);
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.degree {
		font-size: var(--font-large);
		margin: 0;
	}

	.minor {
		font-size: var(--font-large);
		margin: 0 0 1rem;
		padding-top: 0;
	}

	.gpa {
		font-size: var(--font-large);
		margin: 0 0 1rem;
		padding-top: 0;
	}

	.desc-title {
		font-size: var(--font-large);
		margin: 0;
		padding: 0;
	}

	.coursework {
		display: flex;
		flex-direction: row;
	}

	.class-list {
		list-style-position: inside;
	}

	.class-list li {
		margin-bottom: 5px;
	}

	.advert-link {
		font-size: var(--font-large);
		margin: 0;
		padding: 0;
	}
</style>
