<section class="contentSection">
	<h2 id="about">About</h2>
	<p id="aboutDesc">
		<strong>Hi, I'm Jeffrey Luu!</strong>
		I'm currently a 3rd year student studying Human Computer Interaction with a minor
		in Computer Science at UCSD, set to graduate in June 2023.
		<br />
		<br />
		Ever since I was young, I immersed myself into the world of technology, constantly
		tinkering with my computer and learning new things. I also found joy in volunteering
		spending 5 years at the same food bank helping every weekend.
		<br />
		<br />
		Now, I'm working towards bridging the intersection between technology and human
		interaction, making more functional and accesssible web and mobile interfaces
		for everyone.
	</p>
</section>

<style>
	#aboutDesc {
		text-indent: 2rem;
		margin-left: 1rem;
		font-size: 1.5rem;
		text-align: left;
		color: var(--font-color);
	}

	@media screen and (max-width: 480px) {
		#aboutDesc {
			font-size: 1rem;
		}
	}
</style>
