<section class="content-section">
	<h2 id="contact" class="page-h2">Contact</h2>
	<form
		name="contact-form"
		id="contact-form"
		method="POST"
		data-netlify="true"
		data-netlify-honeypot="bot-field"
	>
		<input type="hidden" name="form-name" value="contact-form" />
		<span id="form-title">Get in Touch!</span>
		<label for="name">Name:</label>
		<input
			type="text"
			id="name"
			name="name"
			required
			placeholder="Your name.."
			minlength="2"
		/>

		<label for="email">Email:</label>
		<input
			type="email"
			id="email"
			name="email"
			required
			placeholder="Your email.."
		/>

		<label for="subject">Subject:</label>
		<input
			type="text"
			id="subject"
			name="subject"
			required
			placeholder="Subject.."
		/>

		<label for="message">Message:</label>
		<textarea
			id="message"
			name="message"
			required
			placeholder="Write something.."></textarea>

		<button type="submit">Send Email!</button>
	</form>
</section>
