<section class="contentSection">
	<h2 id="contact">Contact</h2>
	<form
		name="contactForm"
		id="contactForm"
		method="POST"
		data-netlify="true"
	>
		<span id="formTitle">Get in Touch!</span>

		<label for="name">Name:</label>
		<input
			type="text"
			id="name"
			name="name"
			required
			placeholder="Your name.."
		/>

		<label for="email">Email:</label>
		<input
			type="email"
			id="email"
			name="email"
			required
			placeholder="Your email.."
		/>

		<label for="subject">Subject:</label>
		<input
			type="text"
			id="subject"
			name="subject"
			required
			placeholder="Subject.."
		/>

		<label for="message">Message:</label>
		<textarea
			id="message"
			name="message"
			required
			placeholder="Write something.."></textarea>

		<button type="submit">Send Email!</button>
	</form>
</section>

<style>
	#contactForm {
		text-align: center;
		background: #fff;
		color: black;
		border-radius: 5px;
		width: 30rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		padding-top: 5px;
		padding-bottom: 5px;
		box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
	}

	@media screen and (max-width: 480px) {
		#contactForm {
			width: 75%;
		}
	}

	#formTitle {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
	}
	#contactForm label {
		display: block;
		margin: 1rem;
		text-align: left;
	}
	#contactForm input {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25rem;
	}
	#contactForm input:hover {
		border-bottom: 0.3125rem solid #0e3721;
		height: 2rem;
		transition: ease 0.5s;
	}
	#contactForm textarea {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25rem;
		height: 10rem;
	}

	@media screen and (max-width: 768px) {
		#contactForm input {
			width: 85%;
		}
		#contactForm textarea {
			width: 85%;
		}
	}

	#contactForm button {
		min-width: 12rem;
		height: 3rem;
		border-radius: 24px;
		background: #57b846;
		font-weight: bold;
		line-height: 1.5;
		color: #fff;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		cursor: pointer;
	}

	#contactForm button:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}

	#contactForm button:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
</style>
