---
---

<h2 id="experience" class="page-h2">Work Experience</h2>
<div class="experience-timeline">
	<article class="experience-item">
		<div class="experience-heading">
			<h3 class="role">Technical Program Manager</h3>
			<h3 class="company">CodePath</h3>
			<h3 class="dates">January 2022 - June 2022</h3>
		</div>

		<ul class="experience-item-description">
			<li class="experience-item-bullet">
				Created Kotlin-based instructional content for app development and
				provided technical support to students.
			</li>
			<li class="experience-item-bullet">
				Managed course logistics, including scheduling sessions, reviewing
				submissions, and collaborating with managers.
			</li>
			<li class="experience-item-bullet">
				Promote enrollment via presentations and info distribution leading to
				80+ student applications.
			</li>
			<li class="experience-item-bullet">
				Worked closely with Regional Program Manager and CodePath.org team to
				address student feedback and enhance learning experience.
			</li>
		</ul>
	</article>
</div>
