---

---
<h2 id="experience">Work Experience</h2>
<div id ="ExperienceTimeLine">
    <article class = "ExperienceItem">
        <div class = "ExperienceHeading">
            <h3 id="role"> Technical Program Manager Intern </h3>
            <h4 id="company"> CodePath </h4>
            <h5 id="dates"> January 2022 - June 2022 </h5>
        </div>

        <ul class = "ExperienceItemDescription">
            <li class= "ExperienceItemBullet">Recruited over 80 students to participate in the course through student organization presentations, distributing informatics, and sharing my CodePath experience. </li>
            <li class= "ExperienceItemBullet">Oversaw all course management logistics for a CodePath.org course site including confirming session dates and times, reviewing student submissions, and coordinating with other program managers. </li>
            <li class= "ExperienceItemBullet">Collaborated closely with Regional Program Manager and CodePath.org operations team to address student concerns and feedback for improving the student learning experience. </li>
            <li class= "ExperienceItemBullet">Mentored and supported students by providing technical support during labs and assignments to ensure they were on track with the pace of the course. </li>
        </ul>
    </article>
</div>



<style>
    #experience {
        font-size: var(--medium3-size);
    }

    #role {
        font-size: var(--medium2-size);
    }

    #ExperienceTimeLine {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
    }

    .ExperienceItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 50%;
    }

    .ExperienceItemBullet {
        margin-bottom: 0.5rem;
    }
</style>