<section class="contentSection">
	<h2 id="experience">Work Experience</h2>
	<p>
		temp
	</p>
</section>

<style>
	p {
		text-indent: 2rem;
		margin-left: 1rem;
		font-size: 1.5rem;
		text-align: left;
		color: var(--font-color);
	}

	@media screen and (max-width: 480px) {
		p {
			font-size: 1rem;
		}
	}
</style>
