---

---
<h2 id="experience" class="page-h2">Work Experience</h2>
<div class="experience-timeline">
    <article class="experience-item">
        <div class="experience-heading">
            <h3 class="role">Technical Program Manager Intern</h3>
            <h3 class="company">CodePath</h3>
            <h3 class="dates">January 2022 - June 2022</h3>
        </div>

        <ul class="experience-item-description">
            <li class="experience-item-bullet">Enrolled 80+ students via student org presentations, info distribution, and personal CodePath experience.</li>
            <li class="experience-item-bullet">Managed course logistics, including scheduling sessions, reviewing submissions, and collaborating with managers.</li>
            <li class="experience-item-bullet">Created Kotlin-based instructional content for Android app fundamentals and provided technical support to students.</li>
            <li class="experience-item-bullet">Worked closely with Regional Program Manager and CodePath.org team to address student feedback and enhance learning experience.</li>
        </ul>
    </article>
</div>




<style>
    .page-h2{
        font-size: var(--medium3-size);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        text-decoration: underline;
        color: var(--text-color);

    }

    @media screen and (max-width: 768px) {
        .page-h2 {
            font-size: var(--medium2-size);
        }
    }

    #experience {
        font-size: var(--medium3-size);
    }

    .role {
        font-size: var(--medium2-size);
    }

    .company,
    .dates {
        font-size: var(--medium2-size);
    }

    .experience-timeline {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
    }

    .experience-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 50%;
    }

    .experience-item-bullet {
        margin-bottom: 0.5rem;
        font-size: var(--medium1-size);
    }

</style>