---
---

<footer id="footer">
	<section class="footer-section">
		<ul class="footer-ul">
			<li class="footer-li">
				<a class="footer-link" href="../contact" target="_blank">
					<img class="icon" src="/icons/email.svg" alt="Email" />
				</a>
			</li>
			<li class="footer-li">
				<a class="footer-link" href="https://www.linkedin.com/in/jeffrey-luu/">
					<img class="icon" src="/icons/linkedin.svg" alt="LinkedIn" />
				</a>
			</li>
			<li class="footer-li">
				<a class="footer-link" href="https://github.com/jdluu">
					<img class="icon" src="/icons/github.svg" alt="Click here for my GitHub" />
				</a>
			</li>
		</ul>
	</section>
</footer>

<style>
	.footer-section {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.footer-ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin-top: 0.5rem;
	}

	@media screen and (min-width: 480px) {
		.footer-ul {
			grid-auto-flow: column;
		}
	}

	.footer-link {
		color: var(--link-color);
		font-weight: bold;
		text-decoration: underline;
	}

	.footer-link {
		margin: 0 0.5rem;
	}

	.icon {
		width: 50px;
		height: 50px;
	}

</style>
