---
---

<footer id="footer">
	<section class="footer-section">
		<ul class="footer-ul">
			<li class="footer-li"><a href="mailto:jluuruncs@gmail.com">Email</a></li>
			<li class="footer-li">
				<a href="https://www.linkedin.com/in/jeffrey-luu/">Linkedin</a>
			</li>
			<li class="footer-li"><a href="https://github.com/jdluu">Github</a></li>
			<li class="footer-li"><p>Made with &hearts; by Jeffrey Luu</p></li>
		</ul>
	</section>
</footer>

<style>
	#footer .footer-section {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	#footer .footer-ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin-top: 0.5rem;
	}

	@media screen and (min-width: 480px) {
		#footer .footer-ul {
			grid-auto-flow: column;
		}
	}

	#footer a {
		color: var(--link-color);
		font-weight: bold;
		text-decoration: underline;
		box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
	}

	#footer a:hover {
		box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
	}

	#footer .footer-li {
		margin: 0 0.5rem;
	}

	#footer .footer-li p {
		text-align: center;
	}

	#footer .footer-li:hover ~ .footer-li p {
		animation: wave-animation 0.3s infinite;
	}

	@keyframes wave-animation {
		0%,
		25% {
			transform: rotate(20deg);
		}
		75% {
			transform: rotate(-15deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
