<section class="content-section">
	<h2 id="home">Home</h2>
	<div id="home-rows">
		<figure id="intro">
			<p id="intro-desc">Hi, I'm Jeffrey Luu, a Developer and Designer.</p>
			<p id="intro-desc2">
				A 3rd year student at UCSD interested in mobile and web development.
			</p>
			<div id="resume-button">
				<a
					id="resume-link"
					href="https://drive.google.com/file/d/1EoeGMWkAYc0bkgqGaV0kvbjnHjaKlKzW/view?usp=sharing"
					target="_blank"
					rel="noopener noreferrer"
				>
					Download Resume
				</a>
			</div>
		</figure>
		<figure id="me">
			<picture id="headshot">
				<source srcset="/images/profile.webp" type="image/webp" />
				<img
					src="/images/profile.webp"
					width=246
					height=520
					alt="A headshot of me, a 20 year old Vietnamese male!"
				/>
			</picture>
			<figcaption class="img-desc">
				A picture of me!
			</figcaption>
		</figure>
		<figure id="fractal">
			<picture id="fractal-img">
				<source srcset="/images/fractal.jpg" type="image/jpg" />
				<img
					src="/images/fractal.jpg"
					width="400"
					height="400"
					alt="A Mandelbrot fractal, with a red background, black centers, and blue along the edges"
				/>
			</picture>
			<figcaption class="img-desc">
				Mandelbrot fractal made in computer graphics!
			</figcaption>
		</figure>
	</div>
</section>

<!--suppress css-invalid-property-value -->
<style>
	#home {
		position: absolute;
		left: -9999px;
	}

	#home-rows {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		max-width: 60rem;
	}

	@media screen and (max-width: 1024px) {
		#home-rows {
			max-width: 50rem;
			margin-left: 3rem;
		}
	}

	@media screen and (max-width: 768px) {
		#home-rows {
			max-width: 40rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: auto;
		}
	}

	@media screen and (max-width: 480px) {
		#home-rows {
			max-width: 30rem;
			margin: auto;
		}
	}

	/*noinspection all*/
	#intro {
		margin-right: 1rem;
		height: -moz-max-content;
		height: max-content;
	}

	@media screen and (max-width: 1024px) {
		#intro {
			padding-top: 0;
			margin-top:0;
		}
	}

	@media screen and (max-width: 480px) {
		#intro {
			margin-bottom: 1rem;
		}
	}

	#intro-desc {
		font-size: var(--large1-size);
		font-weight: bold;
		text-align: left;
		color: var(--font-color);
	}
	@media screen and (max-width: 1024px) {
		#intro-desc {
			font-size: var(--medium3-size);
			text-align: center;
		}
	}

	@media screen and (max-width: 768px) {
		#intro-desc {
			font-size: var(--medium2-size);
			text-align: center;
		}
	}

	@media screen and (max-width: 480px) {
		#intro-desc {
			font-size: var(--medium1-size);
			text-align: center;
		}
	}

	#intro-desc2 {
		font-size: var(--medium2-size);
		font-family: "Courier New", Courier, monospace;
		color: var(--font-color);
	}

	@media screen and (max-width: 1024px) {
		#intro-desc2 {
			font-size: var(--medium1-size);
			text-align: center;
		}
	}

	@media screen and (max-width: 480px) {
		#intro-desc2 {
			font-size: var(--small3-size);
		}
	}


	/*noinspection CssInvalidPropertyValue*/
	#resume-button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		cursor: pointer;
		color: #fff;
		width: -moz-fit-content; /* For Firefox */
		width: -webkit-fit-content; /* For Safari and Chrome */
		width: fit-content; /* For modern browsers */
		margin: auto;
		padding: 1rem 2rem 1rem 2rem;
		font-size: var(--medium1-size);
		border-radius: 30px;
		border: 1px solid black;
		background-image: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
	}

	#resume-button:hover {
		background-image: linear-gradient(90deg, #3b82f6 0%, #06b6d4 100%);
	}

	#resume-link {
		color: #fff;
		text-decoration: none;
	}

	/*noinspection CssInvalidPropertyValue*/
	#me {
		margin: 0 1rem 0 0;
		height: -moz-max-content;
		height: max-content;
	}

	/*noinspection CssInvalidPropertyValue*/
	#fractal {
		margin: 0;
		height: -moz-max-content;
		height: max-content;
	}

	@media screen and (max-width: 1024px) {
		#fractal {
			width: 18rem;
		}
	}

	@media screen and (max-width: 768px) {
		#fractal {
			width: 15rem;
		}
	}

	#fractal-img {
		justify-content: center;
		align-items: center;
	}

	@media screen and (max-width: 768px) {
		#fractal-img img {
			width: 90%;
			height: 90%;
			margin-left: 0;
		}
	}

	.img-desc {
		font-size: 1.2rem;
		text-align: center;
		font-family: "Courier New", Courier, monospace;
		color: var(--font-color);
	}

	@media screen and (max-width: 768px) {
		.img-desc {
			font-size: 1rem;
			text-align: center;
		}
	}

	@media screen and (max-width: 480px) {
		.img-desc {
			text-align:left;
		}
	}
</style>