<section class="content-section">
	<h2 id="home" class="page-h2">Home</h2>
	<div id="home-rows">
		<figure id="intro">
			<p id="intro-desc">Hi, I'm Jeffrey Luu, a Developer and Designer.</p>
			<div id="resume-button">
				<a
					id="resume-link"
					href="https://drive.google.com/file/d/1NvgQjI2QdMaA8ZI_vNpvlE9Gw7032Ddk/view?usp=sharing"
					target="_blank"
					rel="noopener noreferrer"
				>
					Download Resume
				</a>
			</div>
		</figure>
		<figure id="me">
			<picture id="headshot">
				<source srcset="/images/profile.webp" type="image/webp" />
				<img
					src="/images/profile.webp"
					width="229.6"
					height="485.52"
					alt="A headshot of me, a 21 year old Vietnamese male!"
				/>
			</picture>
			<figcaption class="img-desc">A picture of me!</figcaption>
		</figure>
		<figure id="fractal">
			<picture id="fractal-img">
				<source srcset="/images/fractal.jpg" type="image/jpg" />
				<img
					src="/images/fractal.jpg"
					width="400"
					height="400"
					alt="A Mandelbrot fractal, with a red background, black centers, and blue along the edges"
				/>
			</picture>
			<figcaption class="img-desc">
				Mandelbrot fractal made in computer graphics!
			</figcaption>
		</figure>
	</div>
</section>
