---
import { Image } from 'astro:assets';
import Profile from '../assets/images/profile.webp';
import Fractal from '../assets/images/fractal.jpg';
---


<section class="content-section">
	<h2 id="home" class="page-h2">Home</h2>
	<div id="home-rows">
		<figure id="intro">
			<p id="intro-desc">Hi, I'm Jeffrey Luu, a Developer and Designer.</p>
			<div id="resume-button">
				<a
					id="resume-link"
					href="https://drive.google.com/file/d/1NvgQjI2QdMaA8ZI_vNpvlE9Gw7032Ddk/view?usp=sharing"
					target="_blank"
					rel="noopener noreferrer"
				>
					Download Resume
				</a>
			</div>
		</figure>
		<figure id="me">
			<Image src={Profile} alt="A headshot of me, a 21 year old Vietnamese male!"/>
			<figcaption class="img-desc">A picture of me!</figcaption>
		</figure>
		<figure id="fractal">
			<Image src={Fractal} alt="A Mandelbrot fractal, with a red background, black centers, and blue along the edges"/>
			<figcaption class="img-desc">
				Mandelbrot fractal made in computer graphics!
			</figcaption>
		</figure>
	</div>
</section>

<style>
	#home {
		position: absolute;
		left: -9999px;
	}

	.page-h2 {
		font-size: var(--font-large);
		font-family: var(--font-heading);
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-left: 1rem;
		text-decoration: underline;
		color: var(--text-color);
	}

	@media screen and (max-width: 768px) {
		.page-h2 {
			font-size: var(--font-medium);
		}
	}

	#home-rows {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		max-width: 60rem;
	}

	@media screen and (max-width: 1024px) {
		#home-rows {
			max-width: 50rem;
			margin-left: 3rem;
		}
	}

	@media screen and (max-width: 768px) {
		#home-rows {
			max-width: 40rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: auto;
		}
	}

	@media screen and (max-width: 480px) {
		#home-rows {
			max-width: 30rem;
			margin: auto;
		}
	}

	#intro {
		margin-right: 1rem;
		height: -moz-max-content;
		height: max-content;
	}

	@media screen and (max-width: 1024px) {
		#intro {
			padding-top: 0;
			margin-top: 0;
		}
	}

	@media screen and (max-width: 480px) {
		#intro {
			margin-bottom: 1rem;
		}
	}

	#intro-desc {
		font-size: var(--font-large);
		font-family: var(--font-secondary);
		font-weight: bold;
		text-align: left;
		color: var(--text-color);
	}

	@media screen and (max-width: 1024px) {
		#intro-desc {
			font-size: var(--font-medium);
			text-align: center;
		}
	}

	#resume-button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		cursor: pointer;
		color: #fff;
		width: -moz-fit-content; /* For Firefox */
		width: -webkit-fit-content; /* For Safari and Chrome */
		width: fit-content; /* For modern browsers */
		margin: auto;
		padding: 1rem 2rem 1rem 2rem;
		font-size: var(--font-medium);
		border-radius: 30px;
		border: 1px solid black;
		background-image: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
	}

	#resume-button:hover {
		background-image: linear-gradient(90deg, #3b82f6 0%, #06b6d4 100%);
	}

	#resume-link {
		color: #fff;
		text-decoration: none;
	}

	#me {
		max-width: 30%;
		max-height: 30%;
	}

	#fractal {
		max-width: 50%;
		max-height: 50%;
	}

	.img-desc {
		font-size: 1.2rem;
		text-align: center;
		font-family: var(--font-secondary);
		color: var(--text-color);
	}
</style>
