---
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Jeffrey Luu - Developer</title>

<meta
	name="description"
	content="Jeffrey Luu studied Human Computer Interaction and Computer Science at UCSD. Specializing in web and mobile development, he has a passion for creating innovative and user-friendly experiences. Explore his portfolio and projects."
/>
<meta
	name="keywords"
	content="Jeffrey Luu, UCSD, web development, La Palma, software engineer, HTML, CSS, JS, React, Astro"
/>
<meta name="author" content="Jeffrey Luu" />
<meta property="og:title" content="Jeffrey Luu - Developer | Designer" />
<meta
	property="og:description"
	content="Jeffrey Luu studied Human Computer Interaction and Computer Science at UCSD. Specializing in web and mobile development, he has a passion for creating innovative and user-friendly experiences. Explore his portfolio and projects."
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
