---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<header class="lg:flex p-5 gap-5">
	<Astronav>
		<div class="flex w-full justify-between lg:ml-8">
			<a href="/" target="_self" rel="noreferrer" class="hover home-text">
				<svg
					fill="#000000"
					viewBox="0 0 32 32"
					xmlns="http://www.w3.org/2000/svg"
					class="home-icon"
				>
					<path
						d="M27 18.039L16 9.501 5 18.039V14.56l11-8.54 11 8.538v3.481zm-2.75-.31v8.251h-5.5v-5.5h-5.5v5.5h-5.5v-8.25L16 11.543l8.25 6.186z"
					></path>
				</svg>
				Home
			</a>
			<div class="block lg:hidden">
				<MenuIcon class="w-4 h-4 text-gray-800" />
			</div>
		</div>
		<MenuItems class="hidden lg:flex">
			<ul class="flex flex-col lg:flex-row lg:gap-5 items-center">
				<li class="hover list-item btn-link">
					<a href="/about" target="_self" rel="noreferrer">About</a>
				</li>
				<li class="hover list-item btn-link">
					<a href="/work" target="_self" rel="noreferrer">Work</a>
				</li>
				<!-- <li class="hover list-item btn-link">
					<a href="/blog" target="_self" rel="noreferrer">Blog</a>
				</li> -->
				<li class="hover list-item btn-link">
					<a href="/contact" target="_self" rel="noreferrer">Contact</a>
				</li>
				<li class="list-item">
					<label
						class="switch"
						aria-label="Toggle Theme Switch"
						for="themeSwitch"
					>
						<input id="themeSwitch" type="checkbox" />
						<span class="slider round"></span>
						<span class="sr-only">Toggle Theme</span>
					</label>
				</li>
			</ul>
		</MenuItems>
	</Astronav>
</header>

<style>
	.home-icon {
		width: 60px;
		height: 60px;
		fill: var(--icon-color);
		margin-right: 10px;
		transition: transform 0.3s ease; /* Smooth transition */
	}

	.home-icon:hover {
		transform: scale(
			1.2
		); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	}

	.home-text {
		font-size: var(--font-xlarge);
		font-weight: bold;
		font-family: var(--font-cursive);
	}

	.hover {
		transition: transform 0.3s ease;
	}
	.hover:hover {
		transform: translateY(-8px);
	}
	.list-item {
		margin-right: 1rem;
		margin-top: 0.5rem;
		text-decoration: none;
		color: var(--text-color);
	}

	.btn-link {
		text-decoration: none;
		color: var(--text-color);
		background-color: var(--primary-btn-color);
		border: 1px solid var(--text-color);
		font-size: var(--font-large);
		font-weight: bold;
		margin: auto;
		padding: 10px 20px;
		border-radius: 30px;
	}

	/* Theme Toggle Switch */
	.switch {
		position: relative;
		display: inline-block;
		width: 4rem;
		height: 3rem;
		margin-bottom: 0.5rem;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.sr-only {
		position: absolute;
		left: -9999px;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 2rem;
		width: 2rem;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>
