---
import ProjectCard from "../components/ProjectCard.astro";
const allProjects = await Astro.glob("../pages/projects/*.md");
const pageTitle = "My Projects";
---
<section class="contentSection">
    <h2 id="projects">Projects</h2>
    <p id="workDesc">
        <strong>Check out some of my most recent projects!</strong>
    </p>
    <ul>
        {
            allProjects.map((project) => (
                    <ProjectCard url={project.url}/>
            ))
        }
    </ul>
</section>

<style>
    #workDesc {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
</style>
