<section class="contentSection">
	<h2 id="projects">Projects</h2>
	<p id="workDesc">
		<strong>Check out some of my most recent projects!</strong>
	</p>
	<div id="workContainer">
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> ZooSeeker</span>
					<p class="projDesc">
						ZooSeeker is an Android application that allows for users to plan
						out a day at the San Diego Zoo, complete with an optimized path
						through their selected exhibits.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project1.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> Learning From Health</span>
					<p class="projDesc">
						Learning from Health is a data science project, utilizing data from
						the CDC to create predictive models for income based on statistics
						on health conditions like diabetes, cholesterol, kidney disease,
						etc.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project2.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> UrBenefit</span>
					<p class="projDesc">
						An accessible platform/social application for crowdsourcing
						volunteers for humanitarian and art-based community efforts.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project3.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> BlackJack</span>
					<p class="projDesc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
						quae.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project4.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> SimpleTweet</span>
					<p class="projDesc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
						quae.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project5.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
		<section class="background">
			<div class="projectContainer">
				<section class="moreInfo">
					<span class="projectTitle"> Project 6</span>
					<p class="projDesc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
						quae.
					</p>
					<!-- <img src="assets/images/projects/code.png" alt="A placeholder image" width="200" height="200"/> -->
					<button
						class="learnMore"
						onclick="window.location.href='pages/projects/project6.html';"
					>
						Learn More
					</button>
				</section>
			</div>
		</section>
	</div>
</section>

<style>
	#workDesc {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	#workContainer {
		max-width: 66rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 2rem;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 1024px) {
		#workContainer {
			max-width: 75%;
			justify-content: center;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 1rem;
			padding: 0rem;
			padding-bottom: 2rem;
		}
	}

	/* If the screen is 768px or less, make the grid 1 column and reduce the margin-left */
	@media screen and (max-width: 768px) {
		#workContainer {
			max-width: 75%;
			justify-content: center;
			align-items: center;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			grid-gap: 1rem;
			padding: 0rem;
			padding-bottom: 2rem;
		}
	}

	.background {
		background-color: var(--font-color);
	}

	.projectContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 20rem;
		min-height: 15rem;
	}

	/* If the screen is 768px or less, lower the min-width */
	@media screen and (max-width: 768px) {
		.projectContainer {
			min-width: 15rem;
		}
	}

	.projectTitle {
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
		font-size: 1.3rem;
	}

	.moreInfo {
		text-align: center;
		opacity: 0;
		color: var(--inverse-font-color);
	}

	.moreInfo:hover {
		opacity: 1;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 768px) {
		.moreInfo {
			opacity: 1;
		}
	}

	.learnMore {
		font-size: 1rem;
		font-family: Trebuchet MS;
		width: 8.75rem;
		height: 3.125rem;
		border-width: 2px;
		cursor: pointer;
		color: var(--font-color);
		border-color: #333029;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		text-shadow: 0px 1px 0px #ffffff;
		background: linear-gradient(var(--button1-color), var(--button2-color));
	}

	.learnMore:hover {
		background: linear-gradient(var(--button2-color), var(--button1-color));
	}
</style>
