---
export interface Props {
	title: string;
	intro: string;
	thumbnail: string;
	url: string;
}

const { title, intro, thumbnail, url } = Astro.props;
---

<section class="background" style={{ backgroundImage: `url('${thumbnail}')` }}>
	<div class="project-container">
		<section class="more-info">
			<span class="project-title">{title}</span>
			<p class="project-description">
				{intro}
			</p>
			<a class="learn-more" href={url}>Learn More</a>
		</section>
	</div>
</section>

<style>
	.background {
		background-size: cover;
		background-position: center;
		position: relative;
		border: 1px solid var(--text-color);
		transition: background-image 0.3s;
		width: 100%;
		height: 300px; /* Set the desired height for each section */
	}

	.project-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.project-container:hover {
		background-color: var(--text-color);
		opacity: 1;
	}

	.more-info {
		text-align: center;
	}

	.project-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
		color: var(--inverse-text-color);
	}

	.project-description {
		font-size: 16px;
		margin-bottom: 20px;
		color: var(--inverse-text-color);
	}

	.learn-more {
		font-size: 18px;
		text-decoration: none;
		color: var(--inverse-text-color);
		background-color: var(--primary-button-color);
		padding: 10px 20px;
		border-radius: 5px;
		transition: background-color 0.3s;
	}

	.learn-more:hover {
		opacity: 0.6;
	}
</style>
