:root {
	/* Default Light Theme */
	--text-color: #020b0d;
	--inverse-text-color: #fdf4f2;
	--background-color: #d4f2f7;
	--primary-button-color: #72d5e4;
	--secondary-button-color: #e5f7fa;
	--accent-color: #87dbe8;
	--icon-color: #020b0d;
	/* Dark Theme */
	[data-theme="dark"] {
		--text-color: #e6f9f3;
		--inverse-text-color: #19060c;
		--background-color: #051510;
		--primary-button-color: #4dbcd5;
		--secondary-button-color: #0a1429;
		--accent-color: #244999;
		--icon-color: #e6f9f3;
	}

	/* Font Sizes */
	--font-small: 0.8rem;
	--font-medium: 1rem;
	--font-large: 1.2rem;
	--font-xlarge: 1.5rem;

	/* Font Families */
	--font-primary: "Lato", sans-serif;
	--font-secondary: "Open Sans", sans-serif;
	--font-heading: "Montserrat", sans-serif;
	--font-cursive: "Pacifico", cursive;

	/* Fonts */
	@font-face {
		font-family: "Lato";
		src: url("https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Open Sans";
		src: url("https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Montserrat";
		src: url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Pacifico";
		src: url("https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ96A.ttf")
			format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}
