---
import DefaultLayout from "./DefaultLayout.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout pageTitle={frontmatter.title}>
	<h2>{frontmatter.title}</h2>
	<p>Written on {frontmatter.pubDate.slice(0, 10)}</p>
	<article>
		<p><strong>{frontmatter.description}</strong></p>
	</article>
	<slot />
</DefaultLayout>