---
export interface Props {
	title: string;
	intro: string;
	thumbnail: string;
	url: string;
}

const { title, intro, thumbnail, url } = Astro.props;
---

<section class="background" style={{ backgroundImage: `url('${thumbnail}')` }}>
	<div class="project-container">
		<section class="more-info">
			<span class="project-title">{title}</span>
			<p class="project-description">
				{intro}
			</p>
		</section>
		<a class="learn-more" href={`/projects/${url}`}>Learn More</a>
	</div>
</section>

<style>
	.background {
		background-size: cover;
		background-position: center;
		position: relative;
		border: 1px solid var(--text-color);
		transition: background-image var(--transition-normal);
		width: 100%;
		height: 30rem; /* Set the desired height for each section */
	}

	.project-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity var(--transition-normal);
	}

	.project-container:hover {
		background-color: var(--text-color);
		opacity: 1;
	}

	.more-info {
		text-align: center;
	}

	.project-title {
		font-size: var(--font-xlarge);
		font-weight: bold;
		margin-bottom: var(--spacing-sm);
		color: var(--inverse-text-color);
	}

	.project-description {
		font-size: var(--font-medium);
		margin-bottom: var(--spacing-md);
		color: var(--inverse-text-color);
	}

	.learn-more {
		font-size: var(--font-large);
		text-decoration: none;
		color: var(--inverse-text-color);
		background-color: var(--primary-btn-color);
		padding: var(--spacing-sm) var(--spacing-md);
		border-radius: var(--radius-sm);
		transition: background-color var(--transition-normal);
	}

	.learn-more:hover {
		opacity: 0.6;
	}
</style>
